In [1]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("Dataset.csv")

# View basic info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1133 non-null   object
 1   datetime     1133 non-null   object
 2   cash_type    1133 non-null   object
 3   card         1044 non-null   object
 4   money        1133 non-null   float64
 5   coffee_name  1133 non-null   object
dtypes: float64(1), object(5)
memory usage: 53.2+ KB

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [2]:
#Convert datetime Column to Datetime Format
df['datetime'] = pd.to_datetime(df['datetime'])

In [3]:
#Handle Missing Values in card Column
# Fill NaN card values with "Cash_Payment"
df['card'] = df['card'].fillna("Cash_Payment")

In [4]:
#Create New Feature Columns

In [5]:
df['hour'] = df['datetime'].dt.hour

In [6]:
df['day_of_week'] = df['datetime'].dt.day_name()

In [7]:
df['is_weekend'] = df['day_of_week'].isin(['Saturday', 'Sunday'])

In [8]:
def categorize_coffee(name):
    name = name.lower()
    
    if name in ['latte', 'cappuccino', 'americano with milk', 'cortado']:
        return 'Milk-based'
    elif name in ['americano', 'espresso']:
        return 'Espresso-based'
    elif name in ['hot chocolate', 'cocoa']:
        return 'Chocolate-based'
    else:
        return 'Other'

In [9]:
df['coffee_category'] = df['coffee_name'].apply(categorize_coffee)

In [10]:
df['payment_category'] = df['cash_type'].apply(lambda x: 'Card' if x.lower() == 'card' else 'Cash')

In [11]:
#Divide transactions into Morning/Afternoon/Evening:
def time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

df['time_of_day'] = df['hour'].apply(time_of_day)

In [12]:
df.to_csv("Cleaned_Dataset.csv", index=False)